* {
  box-sizing: border-box;
}

#main-header {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: white;
}

    #main-header p.texto-logo{
        font-family: 'Atkinson Hyperlegible', sans-serif;
        font-size: 45px;
        color:royalblue;
        margin: 0 0 0 50px;
        padding:0;
        
    }

    #main-header div {
        width:auto;
        height: auto;
        align-self: center;
        margin: 0.5rem;
        padding: 2rem;
        font-size: 2rem;
        /*color: white;*/
        /*background-color: palevioletred;*/
    }

    ul.horizontal {
        color:darkcyan;
        font-family: 'Niramit', sans-serif;
        font-size: 25px;
        margin: 0;
        padding:0;
    }

    ul.horizontal li {
        display:block;
        width: auto;
        margin: 0 12px 0 0 ;
        float:left;
        padding:0 20px;
        
    }

    #main-header button {
        color:white;
        font-size: 25px;
        font-family: 'Atkinson Hyperlegible', sans-serif;
        margin: -5px 40px 0 35px;
        border-top: 15px solid royalblue;
        border-right: 35px solid royalblue;
        border-bottom: 15px solid royalblue;
        border-left: 35px solid royalblue;
        border-radius: 5px;
        background-color: royalblue;
        box-shadow: 0 8px 10px 0 rgba(0,0,100,0.24), 0 17px 50px 0 rgba(0,0,250,0.19);
    }

#introduccion {
    color:midnightblue;
    display: flex;
    width: 100%;
    height: 815px;
    /*flex-direction: column;*/
    justify-content: space-between;
    /*align-items: center;*/
    
    background-color: white;
   
}

    #introduccion p.titulo {
        font-family: 'Atkinson Hyperlegible', sans-serif;
        font-size: 85px;
        margin: 15vmin 50px auto 100px ;
    }

    #introduccion p.slogan {
        font-family: 'Niramit', sans-serif;
        font-size: 25px;
        color:darkcyan;
        padding: 0px;
        margin: 30px 200px 0px 100px ;
    }
    
    #introduccion img.enfermera-slogan {
        padding: 0;
    }

    #introduccion div.ventajas {
        font-family: 'Niramit', sans-serif;
        font-size: 20px;
        color:midnightblue;
        display: flex;
        width: auto;
        height: 25px;
        justify-content: left;
        /*align-self: stretch;*/
        margin: 0px 200px 50px 0px ;
        padding: 30px;
        vertical-align: middle;
        
    }
    
    #introduccion div.ventajas img {
        margin: 0 10px 0 75px;
        
        
    }

#agendar-cita {
    width: 1200px;
    height: 300px;
    margin: 0px 15vw 0px 10vw;
        
    /*
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;*/
}

    #agendar-cita img {
        height: 40px;
        vertical-align: middle;
    }

    #agendar-cita div.titulo {
        color:midnightblue;
        font-family: 'Atkinson Hyperlegible', sans-serif;
        font-size: 30px;
        height: 40px;
        margin: 0 0 30px 0;
        vertical-align: middle;
    }

    #agendar-cita div.form-agendar {
        font-family: 'Niramit', sans-serif;
        font-size: 25px;
        color:darkcyan;
        display: flex;
        justify-content: space-between;
        margin: 0 35px 0 35px;
        padding: 40px;
        border: 0px solid lightblue;
        border-radius: 20px;
        box-shadow: 0 12px 16px 0 rgba(0,0,100,0.24), 0 17px 50px 0 rgba(0,0,250,0.19);
    }

    #agendar-cita p {
        color:midnightblue;
        font-size: 25px;
        font-family: 'Atkinson Hyperlegible', sans-serif;
    }

    #agendar-cita button {
        color:white;
        font-size: 25px;
        font-family: 'Atkinson Hyperlegible', sans-serif;
        margin: 20px 40px 0 35px;
        border-top: 15px solid royalblue;
        border-right: 35px solid royalblue;
        border-bottom: 15px solid royalblue;
        border-left: 35px solid royalblue;
        border-radius: 10px;
        background-color: royalblue;
        box-shadow: 0 8px 10px 0 rgba(0,0,100,0.24), 0 17px 50px 0 rgba(0,0,250,0.19);

    }

#marca-vacunas {
    width: 1300px;
    height: 200px;
    margin: 10px 15vw 0px 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #marca-vacunas img {
        filter: grayscale(90%) drop-shadow(2px 3px 20px rgb(42, 116, 255));
        opacity(50%);
    }

#vacunarse {
    
    display: flex;
    width: 100%;
    height: auto;
    /*flex-direction: column;*/
    justify-content: space-between;
    /*align-items: center;*/
    
    background-color: white;
}

    #vacunarse p.pregunta {
        font-family: 'Atkinson Hyperlegible', sans-serif;
        font-size: 60px;
        color:midnightblue;
        width: 50%;
        margin: 100px 0 auto 100px ;
    }

    #vacunarse p.respuesta {
        font-family: 'Niramit', sans-serif;
        font-size: 25px;
        color:darkcyan;
        width: 50%;
        padding: 0px;
        margin: 50px 0 100px 100px ;
    }

#beneficios {
    display: flex;
    width: 100%;
    height: auto;
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    justify-content: space-around;
    /*align-items: center;*/
    background-color:white;
}

    #beneficios div {
        width: 350px;
        height: 450px;
        padding: 25px;
        background-color:white;
        border-radius: 10px;
        border: 3px solid rgb(210, 244, 255);
        box-shadow: 0 12px 16px 0 rgba(0,0,10,0.24), 0 17px 50px 0 rgba(0,0,10,0.19);
    }
    
    #beneficios img {
        border-radius: 13px;
        box-shadow: 0 12px 16px 0 rgba(0, 62, 180, 0.10), 0 17px 50px 0 rgba(0,62, 180,0.10);
    }

    #beneficios p.titulo {
        font-family: 'Niramit', sans-serif;
        font-size: 30px;
        line-height: 1.2;
        color:midnightblue;        
    }

    #beneficios p.benefit-txt {
        font-family: 'Niramit', sans-serif;
        font-size: 20px;
        color:darkcyan;        
    }


#before-vaccine {
    display: flex;
    width: 95%;
    height: 1180px;
    margin: 65px 0 0 100px;
    
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    justify-content: space-around;
    /*align-items: center;*/
    background-color:white;
}

    #before-vaccine p.pregunta {
        font-family: 'Atkinson Hyperlegible', sans-serif;
        font-size: 55px;
        color:midnightblue;
        width: 80%;
        margin: 100px 0 auto 100px ;
    }

    #before-vaccine p.respuesta {
        font-family: 'Niramit', sans-serif;
        font-size: 25px;
        color:darkcyan;
        width: 75%;
        padding: 0px;
        margin: 50px 0 100px 100px ;
    }

    #recomendaciones {
        display: flex;
        flex-direction: column;
        width: 700px;
        height:730px;
        margin: 50px 0 50px 100px;
                
        /*flex-direction: column;*/
        justify-content: space-around;
        /*align-items: center;*/
        background-color:white;
    }

        #recomendaciones div.tarjeta{
            display: flex;
            flex-direction: column;
            font-family: 'Niramit', sans-serif;
            font-size: 23px;
            color: midnightblue;
            width: 600px;
            height:auto;
            border-radius: 10px;
            border: 3px solid rgb(210, 244, 255);
            padding: 3px 25px 3px 25px;
            margin-left: 30px;
            background-color:white;
            box-shadow: 0 12px 16px 0 rgba(0, 62, 180, 0.10), 0 17px 50px 0 rgba(0,62, 180,0.10);
        }

        #recomendaciones p.recomendacion{
            font-family: 'Niramit', sans-serif;
            font-size: 15px;
            color: darkcyan;
            padding: 1px 40px 1px 40px;
         
        }